@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

body{
  background: #dd9933;
}

::-webkit-scrollbar {
  width: 0;
}

.mantine-TextInput-label{
  color: #fff;
}
.mantine-Textarea-label{
  color: #fff;
}