.sectionWrapper {
  width: 100%;

  .titleWrapper {
    width: 100%;
    background: #000000;
    padding: 80px;

    p {
      width: 100%;
      font-size: 84px;
      color: #ffffff;
      text-align: center;
      font-weight: 700;
      letter-spacing: -0.0415625em;
    }
  }

  .section {
    padding: 80px;
    background: #dd9933;
    height: 100%;

    .container {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;

      .sectionTextOne {
        max-width: 41rem;
        width: 100%;
        margin: 0 auto;
        font-family: "Times New Roman", sans-serif !important;
        font-size: 24px;
      }

    }
  }
}


@media only screen and (max-width: 780px) {
  .sectionWrapper {

    .titleWrapper {
      padding: 40px;

      p {
        font-size: 64px;
      }
    }

    .section {
      padding: 50px 40px;

      .container {
        max-width: 100%;

        .sectionTextOne {
          max-width: 100%;
          font-size: 18px;
        }

      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .sectionWrapper {

    .titleWrapper {
      padding: 40px;

      p {
        font-size: 34px;
      }
    }

    .section {
      padding: 50px 40px;

      .container {
        max-width: 100%;

        .sectionTextOne {
          max-width: 100%;
          font-size: 18px;
        }

      }
    }
  }
}