.navbarWrapper {
  padding: 28px 40px;
  background: #000000;
  color: #fff;
  position: relative;

  .searchWrapper {
    width: 100%;
    padding: 0 40px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    height: 146px;
    background: #000000;
    z-index: 1;
    border-bottom: 1px solid #262626;
    overflow: hidden;

    .input {
      input {
        height: 146px;
        border-radius: 0;
        border: none;
        background: #000000;
        letter-spacing: -0.0277em;
        font-size: 46px;
        color: #ffffff;
      }
    }
  }

  .navbar {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbarLeft {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 18px;

      p {
        color: #6d6d6d;
        font-size: 18px;
        line-height: 15px;
        font-weight: 500;
        letter-spacing: -0.0311em;
      }
    }

    .navbarRight {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .navbarRightItem {
        max-width: 106px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;

        .link {
          color: #907112;
          font-size: 18px;
          line-height: 21px;
        }

        &:nth-child(2) {
          border-left: 1px solid #262626;
          border-right: 1px solid #262626;
        }

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

.drawerBody {
  background: #000000;
  position: relative;

  .menu {
    .link {
      text-decoration: none;

      p {
        color: #907112;
        padding: 25px 0;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.0375em;
        border-top: 1px solid #262626;
      }

      &.active {
        p {
          text-decoration: underline;
        }
      }
      &.smallText {
        p {
          padding-left: 24px;
          font-size: 18px;
        }
      }
    }
  }

  .drawerBottom {
    position: absolute;
    left: 40px;
    bottom: 60px;

    column-gap: 8px;

    a {
      .icon {
        border-radius: 100%;
        width: 44px;
        height: 44px;
        background-color: #907112;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .1s ease-in-out;

        &:hover {
          transition: .2s ease-in-out;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navbarWrapper {
    .navbar {
      max-width: 100%;

      .navbarLeft {
        row-gap: 12px;
        align-items: flex-start;
        flex-direction: column;

        p {
          text-align: left;
        }
      }


      .navbarRightItem {
        max-width: 100%;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .navbarWrapper {
    .navbar {
      .navbarLeft {
        row-gap: 18px;
        align-items: center;

        p {
          text-align: center;
        }
      }

      .navbarRightItem {
        max-width: 100%;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .navbarWrapper {
    .searchWrapper {
      padding: 0 40px;
      height: 100px;

      .input {
        input {
          height: 100px;
          letter-spacing: -0.0277em;
          font-size: 24px;
          color: #ffffff;
        }
      }
    }
    .navbar {
      .navbarLeft {
        p {
          display: none;
        }
      }

      .navbarRightItem {
        max-width: 100%;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}