.navbarWrapper {
  padding: 28px 40px;
  background: #000000;
  color: #fff;

  .navbar {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbarLeft {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 18px;

      p {
        color: #6d6d6d;
        font-size: 18px;
        line-height: 15px;
        font-weight: 500;
        letter-spacing: -0.0311em;
      }
    }

    .navbarRight {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .navbarRightItem {
        max-width: 106px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;

        .link {
          color: #907112;
          font-size: 18px;
          line-height: 21px;
        }

        &:nth-child(2) {
          border-left: 1px solid #262626;
          border-right: 1px solid #262626;
        }

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

.drawerBody{
  background: #000000;
  position: relative;
  .menu{
    .link{
      text-decoration: none;
      p{
        color: #907112;
        padding: 25px 0;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.0375em;
        border-top: 1px solid #262626 ;
      }
      &.active{
        p{
          text-decoration: underline;
        }
      }
    }
  }
  .drawerBottom{
    position: absolute;
    left: 40px;
    bottom: 60px;

    column-gap: 8px;
    a{
      .icon{
        border-radius: 100%;
        width: 44px;
        height: 44px;
        background-color: #907112;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .1s ease-in-out;
        &:hover{
          transition: .2s ease-in-out;
          transform: scale(1.1);
        }
      }
    }
  }
}