.sectionWrapper {
  width: 100%;

  .titleWrapper {
    width: 100%;
    background: #000000;
    padding: 80px;

    h1 {
      width: 100%;
      font-size: 84px;
      color: #ffffff;
      text-align: center;
    }
  }

  .section {
    padding: 80px;
    background: #dd9933;
    height: 100%;

    .container {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;

      .sectionTextOne {
        max-width: 41rem;
        width: 100%;
        margin: 0 auto 4rem;
        padding-left: 24px;
        border-left: 1px solid #000000;
        font-family: "Times New Roman", sans-serif !important;
        font-size: 24px;
      }

      .sectionTextTwo {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
      }

      .cards {
        margin-bottom: 8rem;
        margin-top: 8rem;
        display: flex;
        column-gap: 2rem;
        justify-content: center;

        .card {
          max-width: 268px;
          width: 100%;

          .imageWrapper {
            width: 100%;
            height: 430px;
            position: relative;
            span{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(0, 0, 0, 0.5 );
              z-index: 1;
              color: #ffffff;
              font-family: "Times New Roman", sans-serif !important;
              font-size: 24px;
              text-transform: uppercase;
            }
          }

          .btn {
            width: 100%;
            height: 58px;
            border-radius: 0;
            margin-top: 24px;
            background-color: #473700;
            color: #dd9933;

            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.0333em;
            line-height: 21px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}